*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
}

.logo img{
    width: 120px;
    display: block;
}

.menu{
    display: flex;
    list-style: none;
    gap: 35px;
}

.menu li a{
    text-decoration: none;
    color: #1E1E1E;
    font-size: 16px;
}

.btn{
    background: #2F5BFF;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/* Hero */

.hero{
    height: 90vh;

    background-image:
        linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.7)),
        url("./assets/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}
.hero h2{
    font-size: 70px;
    margin-bottom: 20px;
}


.hero p{
    width: 700px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}
/* Speakers Section */


.speakers{
    background-color: #FFFFFF;
    padding: 80px;
}

.speakers h2{
    text-align: center;
    font-size: 48px;
    color: #0D1B2A;
    margin-bottom: 50px;
}

/* Speaker Container */

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* Speaker Card */

.card{
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
}

/* Speaker Image */

.card img{
    width: 100%;
    height: 280px;
    display: block;
}

/* Category */

.card h5{
    color: #2563EB;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* Speaker Name */

.card h3{
    color: #0D1B2A;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* Company */

.card p{
    color: #575757;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
}