*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
}

.logo img{
    width: 120px;
    display: block;
}

.menu{
    display: flex;
    list-style: none;
    gap: 35px;
}

.menu li a{
    text-decoration: none;
    color: #1E1E1E;
    font-size: 16px;
}

.btn{
    background: #2F5BFF;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/* Hero */

.hero{
    height: 90vh;

    background-image:
        linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.7)),
        url("./assets/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}
.hero h2{
    font-size: 70px;
    margin-bottom: 20px;
}


.hero p{
    width: 700px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}
/* Speakers Section */


.speakers{
    background-color: #FFFFFF;
    padding: 80px;
}

.speakers h2{
    text-align: center;
    font-size: 48px;
    color: #0D1B2A;
    margin-bottom: 50px;
}

/* Speaker Container */

.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* Speaker Card */

.card{
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
}

/* Speaker Image */

.card img{
    width: 100%;
    height: 280px;
    display: block;
}

/* Category */

.card h5{
    color: #2563EB;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* Speaker Name */

.card h3{
    color: #0D1B2A;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* Company */

.card p{
    color: #575757;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
}
/* Pricing Section */

/* Pricing Section */

.pricing{
    padding: 80px;
    background-color: #FFFFFF;
}

.pricing h2{
    text-align: center;
    font-size: 56px;
    color: #0D1B2A;
    margin-bottom: 10px;
}

.subtitle{
    text-align: center;
    font-size: 16px;
    color: #575757;
    margin-bottom: 50px;
}

/* Pricing Container */

.pricing-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Card */

.price-card{
    width: 350px;
    padding: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    background-color: white;
}

/* Pro Card */

.pro{
    background-color: #0D1B2A;
}

/* Card Heading */

.price-card h5{
    font-size: 14px;
    color: #888888;
    margin-bottom: 15px;
}

.pro h5{
    color: white;
}

.price-card h3{
    font-size: 50px;
    color: #0D1B2A;
    margin-bottom: 10px;
}

.pro h3{
    color: white;
}

/* Price Text */

.price{
    color: #575757;
    margin-bottom: 20px;
}

.pro .price{
    color: white;
}

/* Line */

.price-card hr{
    border: 1px solid #E5E7EB;
    margin-bottom: 20px;
}

.pro hr{
    border: 1px solid #334155;
}

/* List */

.price-card ul{
    margin-left: 20px;
    margin-bottom: 30px;
}

.price-card ul li{
    color: #333333;
    margin-bottom: 12px;
}

.pro ul li{
    color: white;
}

/* Buttons */

.standard-btn,
.pro-btn,
.team-btn{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

/* Standard Button */

.standard-btn{
    background-color: white;
    color: #2563EB;
    border: 1px solid #2563EB;
}

/* Pro Button */

.pro-btn{
    background-color: #2563EB;
    color: white;
    border: none;
}

/* Team Button */

.team-btn{
    background-color: white;
    color: #0D1B2A;
    border: 1px solid #0D1B2A;
}
/*--Ai CHALLENGE */
.career-hub{
    background:#f7f4ff;
    padding:100px 20px;
}

.career-title{

    text-align:center;
    margin-bottom:60px;

}

.tag{

    display:inline-block;
    background:#ede4ff;
    color:#6b3df5;
    padding:10px 22px;
    border-radius:30px;
    font-weight:600;
    margin-bottom:20px;

}

.career-title h2{

    font-size:48px;
    color:#1f1f39;
    margin-bottom:20px;

}

.career-title p{

    max-width:720px;
    margin:auto;
    color:#666;
    line-height:1.8;

}

.career-grid{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;

}

.career-card{

    background:#fff;
    padding:35px;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.08);
    transition:.35s;

}

.career-card:hover{

    transform:translateY(-10px);

}

.icon{

    width:70px;
    height:70px;
    border-radius:50%;
    background:#ede4ff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:32px;
    margin-bottom:25px;

}

.career-card h3{

    font-size:26px;
    color:#6b3df5;
    margin-bottom:15px;

}

.career-card p{

    color:#666;
    line-height:1.8;

}

.career-stats{

    display:flex;
    justify-content:space-between;
    margin-top:70px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.career-stats h2{

    font-size:42px;
    color:#6b3df5;

}

.career-stats p{

    color:#666;
    margin-top:8px;

}

.career-btn{

    text-align:center;
    margin-top:60px;

}

.btn-primary{

    display:inline-block;
    padding:18px 36px;
    background:#6b3df5;
    color:white;
    border-radius:50px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;

}

.btn-primary:hover{

    background:#5630d8;

}

@media(max-width:768px){

.career-grid{

grid-template-columns:1fr;

}

.career-stats{

flex-direction:column;
gap:30px;
text-align:center;

}

.career-title h2{

font-size:34px;

}
}
/*footer Part*/
.footer{
    background:#07111d;
    padding:50px 0 25px;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-logo img{
    width:150px;
    display:block;
}

.footer-social{
    display:flex;
    gap:15px;
}

.footer-social a{
    width:42px;
    height:42px;
    border-radius:50%;
    background:#182638;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition:.3s;
}

.footer-social a:hover{
    background:#6b3df5;
}

.footer hr{
    border:none;
    border-top:1px solid rgba(255,255,255,.15);
    margin:35px 0;
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-bottom p{
    color:#cfcfcf;
    font-size:15px;
}

.footer-links{
    display:flex;
    gap:25px;
}

.footer-links a{
    color:#cfcfcf;
    text-decoration:none;
    transition:.3s;
}

.footer-links a:hover{
    color:#6b3df5;
}

@media (max-width:768px){
    .footer-top,
    .footer-bottom{
        flex-direction:column;
        gap:25px;
        text-align:center;
    }
}



